@model List<SelectListItem>
@{
    ViewBag.Title = "Bird Sightings";
}
<h1>Bird Sighting Data</h1>

<form method="post">
    <h2>Sighting Info</h2>
    <label>Location</label><br />
    <input name="Location" /><br /><br />
    <label>Birder Name</label><br />
    <input name="Birder" /><br />
    <br />
    @* Repeating the same name attribute will create an array*@
    <h2>Bird Type</h2>
    <div id="bird1">
        <label name="Name">Name</label><br />
        <input name="Name" /><br /><br />
        <label Name="Order">Bird Order</label><br />
        <select Name="Order" asp-items="Model"></select>
        <br />
        <!--
        <select name="Order" id="order" onclick="getOrders()">
            <option>Select an order</option>
        </select><br /><br />

        <input type="text" list="orders" />
        <datalist id="orders"></datalist>
        -->
        <label name="Number">Number</label><br />
        <input name="Number" type="number" />
        <br />
    </div>
   <br />
    <div id="bird2"></div>
    <br />
    <input type="button" onclick="addEntry()" value="Add Anoher Bird"> <br /><br />
    <input type="Submit" value="Enter Sighting" />
</form>

<script>
    function getOrders() {
        
        fetch("/Home/BirdOrdersAjax?" + new URLSearchParams({}))
            .then(response => response.json())
            .then(data => {
                let datalist = document.getElementById("orders");
                // Remove all options from the datalist
                datalist.innerHTML = "";
                for (order of data) {
                    let option = document.createElement("option");
                    option.value = order;
                    option.text = order;
                    // Add the new option to the datalist
                    datalist.appendChild(option);
                }
            })
            .catch (err => console.log(err));
    }

    let entryCount = 1;
    function addEntry() {
        entryCount++;
        let entry = document.getElementById("bird1").innerHTML;
        let newEntry = "<br><h2>Bird Type " + entryCount + "</h2>" +
        entry + "<div id='bird" + (entryCount + 1) + "' ></div >";
        document.getElementById("bird" + entryCount).innerHTML = newEntry;
    }


</script>