@model List<SelectListItem>
@{
    ViewBag.Title = "Bird Sightings";
}
<h1>Bird Sighting Data</h1>

<form method="post">
    <h2>Sighting Info</h2>
    <label>Location</label><br />
    <input name="Location" /><br /><br />

    <label>Birder Name</label><br />
    <input name="Birder" /><br /> 
    <br />
    @* Repeating the same name attribute will create an array in data submitted to the server *@
    <h2>Bird Type</h2>
    <div id="bird1">
        <label name="Name">Name</label><br />
        <input name="Name" /><br /><br />

        <label Name="Order">Bird Order</label><br />
        <select Name="Order" id="order" asp-items="Model" onchange="getFamilies()"></select><br />

        <label Name="Family">Family</label><br />
        <input type="text" list="families" /><br />
        <datalist id="families"></datalist>

        <label name="Number">Number</label><br />
        <input name="Number" type="number" />
        <br />
    </div>
   <br />
    <div id="bird2"></div>
    <br />
    <input type="button" onclick="addEntry()" value="Add Anoher Bird"> <br /><br />
    <input type="Submit" value="Enter Sighting" />
</form>

<script>
    function getFamilies() {
        // Get the families in the selected order
        let order = document.getElementById("order").value;
        fetch("/Home/BirdFamiliesAjax?order=" + order)
            .then(response => response.json())
            .then(data => {
                let datalist = document.getElementById("families");
                // Remove all options from the datalist
                datalist.innerHTML = "";
                for (family of data) {
                    let option = document.createElement("option");
                    option.value = family;
                    option.text = family;
                    // Add the new option to the datalist
                    datalist.appendChild(option);
                }
            })
            .catch (err => console.log(err));
    }

    let entryCount = 1;
    function addEntry() {
        entryCount++;
        let entry = document.getElementById("bird1").innerHTML;
        let newEntry = "<br><h2>Bird Type " + entryCount + "</h2>" +
        entry + "<div id='bird" + (entryCount + 1) + "' ></div >";
        document.getElementById("bird" + entryCount).innerHTML = newEntry;
    }


</script>